@using TestWebApplication.WebUI.Models
@model LoginViewModel
@{
    ViewBag.Title = "TestApp: Вход";
}

<div class="loginPage">
    <div class="formMiddle">
        <h2>Вход в аккаунт</h2>
        <div class="row">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="col-md-6 forgot">
                            @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="btn btn-success loginBtn" />
                    </div>
                }
            </section>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <div class="form-group">
                @Html.ActionLink("Зарегестрироваться", "Register", null, new { @class = "btn btn-info regBtn" })
            </div>
        </div>
    </div>
</div>  

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}